<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Registration</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_registration.css') }}"
      type="text/css"
    />
  </head>

  <body>
    <h2>Admin Registration</h2>
    <form method="POST" action="{{ url_for('admin') }}" class="two-columns">
      <div>
        <label for="ssn">SSN:</label>
        <input type="text" name="ssn" required /><br />

        <label for="email">Email:</label>
        <input type="email" name="email" required /><br />

        <label for="password">Password:</label>
        <input type="password" name="password" required /><br />
      </div>

      <div>
        <label for="userName">Username:</label>
        <input type="text" name="userName" required /><br />

        <label for="fullName">Full Name:</label>
        <input type="text" name="fullName" required /><br />

        <button type="submit">Add Doctor</button>
      </div>
    </form>

    <h2>Manage Doctors</h2>
    <ul>
      {% for doctor in doctors %} {{ doctor.full_name }}

      <!-- Your form fields for editing -->

      <form
        method="POST"
        action="{{ url_for('delete_doctor', doctor_id=doctor.id) }}"
      >
        <a href="{{ url_for('edit_doctor', doctor_id=doctor.id) }}">Edit</a>
        <button type="submit">Delete</button>
      </form>
      {% endfor %}
    </ul>
  </body>
</html>
