<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LoginPage</title>

    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- google fonts -->

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="./css/index.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-...."
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section id="banner" class="banner">
      <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="col-md-12">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target="#myNavbar"
                >
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"
                  ><img
                    src="{{ url_for('static', filename='image/logo.png') }}"
                    class="img-responsive"
                    style="width: 140px; margin-top: -16px"
                /></a>
              </div>
              <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class=""><a href="{{ url_for('index') }}">Home</a></li>
                  <li class="">
                    <a href="{{ url_for('index') }}">Services</a>
                  </li>
                  <li class=""><a href="{{ url_for('index') }}">Doctors</a></li>
                  <li class="">
                    <a href="{{ url_for('index') }}">Testimonial</a>
                  </li>
                  <li class="active"><a href="#">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>

        <section class="forms">
          <div class="container">
            <!-- logo -->

            <!-- //logo -->
            <div class="forms-grid">
              <!-- login -->
              <div class="login">
                <span class="fas fa-sign-in-alt"></span>
                <strong>Welcome! Sign in</strong>

                <form action="#" method="post" class="login-form">
                  <fieldset>
                    <div class="form">
                      <div class="form-row">
                        <span class="fas fa-user"></span>
                        <label class="form-label" for="input">Name</label>
                        <input type="text" class="form-text" />
                      </div>
                      <div class="form-row">
                        <span class="fas fa-eye"></span>
                        <label class="form-label" for="input">Password</label>
                        <input type="password" class="form-text" />
                      </div>
                      <!-- Dropdown for user type -->
                      <div class="form-row">
                        <select
                          id="userType"
                          name="userType"
                          class="form-select"
                        >
                          <option value="doctor">Patient</option>
                          <option value="patient">Doctor</option>
                          <option value="admin">Admin</option>
                        </select>
                      </div>
                      <!-- End of dropdown -->
                      <div class="form-row bottom">
                        <div class="form-check">
                          <input
                            type="checkbox"
                            id="remenber"
                            name="remenber"
                            value="remenber"
                          />
                          <label for="remenber"> remember me?</label>
                        </div>
                        <a href="#url" class="forgot">forgot password?</a>
                      </div>
                      <div class="form-row button-login">
                        <button class="btn btn-login">
                          Login <span class="fas fa-arrow-right"></span>
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <!-- //login -->

              <!-- register -->
              <div class="register">
                <span class="fas fa-user-circle"></span>
                <strong>Create account!</strong>
                <form action="#" method="post" class="register-form">
                  <fieldset>
                    <div class="form">
                      <div class="form-row">
                        <span class="fas fa-user"></span>
                        <label class="form-label" for="input">Name</label>
                        <input type="text" class="form-text" />
                      </div>
                      <div class="form-row">
                        <span class="fas fa-envelope"></span>
                        <label class="form-label" for="input">E-mail</label>
                        <input type="email" class="form-text" />
                      </div>
                      <div class="form-row">
                        <span class="fas fa-lock"></span>
                        <label class="form-label" for="input">Password</label>
                        <input type="password" class="form-text" />
                      </div>
                      <div class="form-row button-login">
                        <button class="btn btn-login">
                          Create <span class="fas fa-arrow-right"></span>
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <footer id="footer">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 marb20">
              <div class="ftr-tle">
                <h4 class="white no-padding">About Us</h4>
              </div>
              <div class="info-sec">
                <p>
                  Innovative Healthcare aiming to take patien's care into a new
                  level
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 marb20">
              <div class="ftr-tle">
                <h4 class="white no-padding">Quick Links</h4>
              </div>
              <div class="info-sec">
                <ul class="quick-info">
                  <li>
                    <a href="index.html"><i class="fa fa-circle"></i>Home</a>
                  </li>
                  <li>
                    <a href="#service"><i class="fa fa-circle"></i>Service</a>
                  </li>
                  <li>
                    <a href="#contact"
                      ><i class="fa fa-circle"></i>Appointment</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- fontawesome v5 -->
    <script
      src="https://kit.fontawesome.com/af562a2a63.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
