<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SHC</title>
  <meta name="description" content="SHCHospital.com">
  <meta name="keywords">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/patient.css') }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="patientbanner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='image/logo.png') }}" class="img-responsive" style="width: 140px; margin-top: -50px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('views.index') }}">Home</a></li>
                <li class="active"><a href="#patientbanner">Booking</a></li>
                <li class=""><a href="#radiology">Radiology</a></li>
                <li class=""><a href="#surgery">Surgery</a></li>
                <li class=""><a href="{{ url_for('views.login') }}">Logout </a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="{{ url_for('static', filename='image/logo.png') }}" class="img-responsive" style="width: 200px; height: 200px;">
            </div>
            <div class="banner-text text-center">
              
              <h1 class="white">HealthCare, Never Been Easier!</h1>
              <a href="#radiology" class="btn btn-appoint">Make a Scan Appointment.</a>
              <a href="#surgery" class="btn btn-appoint">Make a Surgery Appointment.</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->

  <section id="radiology" class="section-padding">
    <div class="container">
      <form action="{{ url_for('views.patient', patient_id=patient[0]) }}" method="post" class="booking-form">
        <div class="form-row">
          <h2>what are you waiting for {{patient[3]}}</h2>
          <h2>Book a Scan </h2>
          {% if msg1 %}
          <div class="alert alert-warning">{{ msg1 }}</div>
          {% endif %}
          <label for="scanType">Scan Type:</label>
          <select id="scanType" name="scanType" class="form-select" required onchange="updateTestTypes()">
            <option value="null">Type</option>
            <option value="MRI">MRI</option>
            <option value="CT Scan">CT Scan</option>
            <option value="PET Scan">PET Scan</option>
            <option value="UltraSound Scan">UtlraSound Scan</option>
          </select>
        </div>

        <div class="form-row" id="testTypeDiv" style="display: none;">
          <label for="testType">Test Type:</label>
          <select id="testType" name="testType" class="form-select" required>
          </select>
        </div>

        <div class="form-row">
          <label for="appointmentDate">Appointment Date:</label>
          <input type="date" id="appointmentDate" name="appointmentDate" required>
        </div>
        <div class="form-row">
          <label for="appointmentHour">Appointment Hour:</label>
          <input type="text" id="appointmentHour" name="appointmentHour1" pattern="[0-9]{2}" maxlength="2" required placeholder="Enter hours in 24-hour format (e.g., 08 for 8 AM, 17 for 5 PM).">
        </div>
        <div class="form-row">
          <label for="additionalNotes">Additional Notes:</label>
          <textarea id="additionalNotes" name="additionalNotes" rows="4"></textarea>
        </div>
        <div class="form-row button-submit">
          <button type="submit" class="btn btn-submit">Book Scan</button>
        </div>
      </form>
    </div>
  </section>
      <!-- Appointments Section -->
      <section  class="section-padding">
        <div id="appointments" class="container">
          <h2>{{patient[5]}}'s Scan Appointments</h2>
          <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th scope="col"> ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Scan Machine</th>
                  <th scope="col">Scan Category</th>
                  <th scope="col">Scan</th>
                </tr>
              </thead>
              <tbody>
                {% for scan in scans %}
                <tr scope="row">
                  <td>{{ scan[0] }}</td>
                  <td>{{ scan[6] }}</td>
                  <td>{{ scan[9 ] }}</td>
                  <td>{{ scan[3] }}</td>
                  <td>{{ scan[4] }}</td>
                  <td>              <a
                    href="{{ url_for('views.scan_detail', scan_id=scan[0]) }}"
                    target="_blank">View</a>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section id="Radiology Info" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <h2 class="ser-title">Imaging Types</h2>
              <hr class="botm-line">
              <p>We provide you an opportunity to understand the imaging test you need. </p>
            </div>
            <div id="first_column" class="col-md-4 col-sm-4">
              <div class="service-info">
                <div class="icon">
                  <img src="{{ url_for('static', filename='image/mri.jpg') }}" alt="MRI" class="images">
                </div>
                <div class="icon-info">
                  <h2 class="ser-title">MRI</h2>
                  <h3> What to expect?</h3>
                  <p>You lie on a table that slides into the MRI machine, which is deeper and narrower than a CT scanner.The MRI magnets create loud tapping</p>
                  <h3>Duration</h3>
                  <p>Between 45 minutes and 1 hour</p>
                  <h3>How?</h3>
                  <p> MRI uses magnetic fields to create detailed images</p>
                </div>  
              </div>
              <div class="service-info">
                <div class="icon">
                  <img src="{{ url_for('static', filename='image/Ultrasound Photo (1).png') }}" alt="UltraSound" class="images">
                </div>
                <div class="icon-info">
                  <h2 class="ser-title">UltraSound</h2>
                  <h3> What to expect?</h3>
                  <p>A technician applies gel to your skin, then pressed a small probe against it, moving it to capture images of inside of your body.</p>
                  <h3>Duration</h3>
                  <p>Between 30 minutes and 1 hour</p>
                  <h3>How?</h3>
                  <p> UltrSound uses high-frequency sound waves to produce images inside your body.</p>
                </div>
              </div>
            </div>
            <div id="secondcolumn"class="col-md-4 col-sm-4">
              <div class="service-info">
                <div class="icon">
                  <img src="{{ url_for('static', filename='image/PET.jpg') }}" alt="Pet" class="images">
                </div>
                <div class="icon-info">
                  <h2 class="ser-title">Pet Scan</h2>
                  <h3> What to expect?</h3>
                  <p>You swallow or have a radiotracer injected. You then enter a PET scanner which reads radiation given off the radiotracer.</p>
                  <h3>Duration</h3>
                  <p>Between 1.5-2 hours</p>
                  <h3>How?</h3>
                  <p> Pet scans use radioactive drugs and a scanning machine to show how your organs and tissues are functioning</p>
                </div>
                <div class="service-info">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/ct-scan.jpg') }}" alt="CT" class="images">
                  </div>
                  <div class="icon-info">
                    <h2 class="ser-title">CT Scan</h2>
                    <h3> What to expect?</h3>
                    <p>You lie on a table that slides into a scanner.The X-ray tube rotates around you to take images.</p>
                    <h3>Duration</h3>
                    <p>Between 10-15 minutes</p>
                    <h3>How?</h3>
                    <p> Uses a series of x-rays to create cross-sections of the inside of the body.</p>
                  </div>
          </div>
        </div>
      </section>
  <!-- Surgery Section -->
  <section id="surgery" class="section-padding">
    <div class="container">
      <form action="{{ url_for('views.patient', patient_id=patient[0]) }}" method="post" class="booking-form">
        <div class="form-row">
          <h2>Book a Surgery</h2>
          {% if msg %}
          <div class="alert alert-warning">{{ msg }}</div>
          {% endif %}
          <label for="Surgery">Surgery Type:</label>
          <select id="SurgeryType" name="SurgeryType" class="form-select" required onchange="updateDoctors()" >

            <option value="null">Type</option>
            <option value="Orthopedic Surgery">Orthopedic Surgery</option>
            <option value="Cardiovascular Surgery">Cardiovascular Surgery</option>
            <option value="Neurosurgery">Neurosurgery</option>

          </select>
        </div>
        <div class="form-row" id="testDoctorDiv" style="display: none;" >
          <div id="imageRowContainer" class="image-row-container">
              
          </div>
      </div>
      
      <div class="form-row" id="DoctorSelect" style="display: none;">
       
        <label for="DoctorName">Pick Doctor:</label>
        <select id="DoctorName" name="DoctorName" class="form-select" required>
          <!-- {% for option in options %}
          <option value="{{ option[5] }}">Dr. {{ option[5] }}</option>
          {% endfor %} -->
        </select>
      </div>
        <div class="form-row">
          <label for="appointmentDate">Appointment Date:</label>
          <input type="date" id="appointmentDate" name="appointmentDate2" required>
        </div>
        <div class="form-row">
          <label for="appointmentHour">Appointment Hour:</label>
          <input type="text" id="appointmentHour" name="appointmentHour" pattern="[0-9]{2}" maxlength="2" required placeholder="Enter hours in 24-hour format (e.g., 08 for 8 AM, 17 for 5 PM).">
          

        </div>
        <div class="form-row">
          <label for="additionalNotes">Additional Notes:</label>
          <textarea id="additionalNotes" name="additionalNotes2" rows="4"></textarea>
        </div>
        <div class="form-row button-submit">
          <button type="submit" class="btn btn-submit">Book Surgery</button>
        </div>
      </form>
    </div>
  </section>
    <!-- Appointments Section -->
    <section  class="section-padding">
      <div id="appointments" class="container">
        <h2>{{patient[5]}}'s Surgery Appointments</h2>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Additional Information</th>
                <th scope="col">Doctor</th>
              </tr>
            </thead>
            <tbody>
              {% for surgery in surgerys %}
              <tr scope="row">
                <td>{{ surgery[0] }}</td>
                <td>{{ surgery[3] }}</td>
                <td>{{ surgery[4] }}</td>
                <td>{{ surgery[6] }}</td>
                <td>{{ surgery[8] }}</td>
                <td>{{ surgery[9] }}</td>
              </tr>
              {% endfor %}
  
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </section>

      


  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20" style="margin-left: 150px;">
            <div class="ftr-tle">
              <h4 class="white no-padding">About Us</h4>
            </div>
            <div class="info-sec">
              <p>Innovative Healthcare aiming to take patient's care to a new level</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20" style="margin-left: 180px;">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{{ url_for('views.index') }}"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Patient.js') }}"></script>
</body>

</html>